.banner {
    position: absolute;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;

    background-size: 100%;
    justify-content: center;
    margin-bottom: 100px;
    height: 900px;
}

.banner-title {

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    margin-top: 211px;
    margin-right: 230px;
    margin-left: 1400px;
    margin-bottom: 24px;

}

.banner-description {
    font-size: 16px;
    text-align: right;
    font-family: 'Work Sans';
    font-weight: 400;
    line-height: 26px;
    margin-right: 230px;
    margin-left: 1400px;
    margin-bottom: 32px;
}

.contact-btn {
    background-color: red;
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 200px;
    margin-left: 1790px;
    margin-bottom: 172px;
    text-align: right;
}



main {
    position: absolute;
    height: 723.3px;
    left: 500px;
    top: 949px;
}

.section-title {

    margin-right: 850px;
    display: flex;
    margin-bottom: 58px;
}

.section-description {
    margin-right: 800px;
}

section {
    align-items: center;
    display: flex;
}

.heading {
    text-align: center;
}

.section-title {
    text-align: center;
    margin-right: 800px;

}

.my-plans {
    display: flex;
    flex-direction: column;
}

.my-plans-box {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-right: 800px;
    text-align: center;

}

.sub-info {
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    margin-top: 124px;
    margin-bottom: 130px;
    background-size: 100% 100%;
    height: 300px;
    width: 1140px;
    background-color: ;
}

.main-info-title {
    margin-left: 66px;
    margin-right: 550px;
    font-size: 40px;
}

.call-btn {
    background: wheat;
    color: red;
    margin-left: 66px;
    height: 64px;
    width: 160px;
    font-size: 20px;
}


.main-footer {
    position: absolute;

    top: 2646.3px;
    background-color: black;
    display: flex;
}

.footer1 {
    display: flex;
    flex-direction: column;
    margin: 80px 0 15px 100px;
    width: 50%;
}

.footer1-title {
    font-weight: 700;
    font-size: 45px;
    color: white;
    display: flex;

}

.footer-description {
    color: white;
    margin-top: 16px;
    margin-left: 330px;
    margin-bottom: 24px;
    margin-right: 300px;
}

.phone {
    color: white;
    font-size: 16px;
}

.footer2 {
    display: flex;
    flex-direction: column;
    margin: 80px 0 15px 100px;
    width: 50%;
    text-align: right;
}

.subscribe {
    color: white;
}

